---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="About | Chau Tran"
	description="About Chau Tran - Sr. Engineer at Nrwl and web technology enthusiast"
>
	<p class="mb-2 text-lg">Hello world,</p>
	<p class="mb-2 text-lg">
		My name is Chau Tran. I am currently working as a
		<span class="font-bold text-primary">Sr. Engineer</span> at <a
			href="https://nrwl.io"
			rel="noreferrer"
			target="_blank"
			class="cursor-pointer text-primary underline"
		>
			Nrwl
		</a>
		. Follow us at
		<a
			href="https://twitter.com/nrwl_io"
			rel="noreferrer"
			target="_blank"
			class="cursor-pointer text-primary underline"
		>
			@nrwl_io
		</a>
	</p>
	<p class="mb-2 text-lg">
		This is the place that I use to share my knowledge about programming and
		personal stuffs. That said, the blog will focus on Web Technologies like

		<a
			href="https://angular.io"
			rel="noreferrer"
			target="_blank"
			class="cursor-pointer text-primary underline"
		>
			Angular
		</a>,
		<a
			href="https://www.typescriptlang.org/"
			rel="noreferrer"
			target="_blank"
			class="cursor-pointer text-primary underline"
		>
			TypeScript
		</a>
		, and other related technologies. Additionally, I also blog about random
		things like
		<span class="italic">
			"how I wipe my machine once every six months"
		</span>
		. This blog is powered by
		<a
			href="https://astro.build"
			rel="noreferrer"
			target="_blank"
			class="cursor-pointer text-primary underline"
		>
			Astro
		</a>
	</p>
	<p class="mb-2 text-lg">
		I hope you will gain something (some knowledge, some argument worth
		argue for, or maybe a smile) here on this blog. If you have any
		question, or absolutely anything at all, please do not hesitate to reach
		out to me on any of the social medium listed in the info box. See y'all
		around 👋
	</p>
</Layout>
