---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Uses | Chau Tran"
	description="Tools and technologies that Chau Tran uses for development"
>
	<p>Chrome/Arc Browser, Raycast</p>
	<p>Kitty, Tmux, Meslo Mono Nerd/Monolisa</p>
	<p>Neovim, Jetbrains IDEs</p>
</Layout>
