---
import { Picture } from "@astrojs/image/components";
import avatar from "../assets/speak.png";
---

<div class="w-16 h-16 relative mb-4" role="img" aria-label="Avatar of the Chau">
    <div
        class="group w-full h-full rounded-full border-4 border-transparent text-center flex items-center relative avatar"
        data-tooltip="New version available 🚀"
    >
        <Picture
            class="avatar"
            src={avatar}
            alt="avatar of chau"
            widths={[64]}
        />
    </div>
</div>
