---
import type { Frontmatter } from "../models/frontmatter";
import BlogItem from "./BlogItem.astro";

interface Props {
	blogs: Frontmatter[];
}

const { blogs } = Astro.props as Props;
---

<div class="flex flex-col divide-y divide-gray-400">
	{
		blogs.map((blog) => (
			<section>
				<BlogItem blog={blog} />
			</section>
		))
	}
</div>
