---
import { Image, type LocalImageProps } from "astro:assets";

const { height = 500, ...props } = Astro.props as any;
---

<p>
	<Image height={height} {...props as any} />
	<em>{props.alt}</em>
</p>
