---
import type { Frontmatter } from "../models/frontmatter";

interface Props {
    blog: Frontmatter;
    url: string;
}

const { blog, url } = Astro.props as Props;
---

<div class="py-4">
    <div class="flex justify-between items-center">
        <span class="font-light text-gray-medium">
            {new Date(blog.publishedAt).toDateString()}
            <!-- <span *ngIf="route.readingTime">
            - {{ route.readingTime | number: '1.0-0' }} {{ route.readingTime > 1 ? 'mins' : 'min' }}
          </span> -->
        </span>
        {
            blog.tags.length && (
                <a
                    class="px-2 py-1 text-sm text-secondary font-bold rounded hover:text-white hover:bg-secondary transition-colors duration-200 ease-in-out cursor-pointer"
                    href={"/tag/" + blog.tags[0].toLowerCase()}
                >
                    {blog.tags[0]}
                </a>
            )
        }
    </div>
    <div class="mt-2">
        <a
            class="text-2xl font-bold hover:text-gray-medium transition-colors duration-200 ease-in-out"
            href={url}
        >
            {blog.title}
        </a>
        <p class="mt-2 font-thin text-gray-dark">
            {blog.description}
        </p>
    </div>
</div>
