<div class="flex flex-row lg:flex-col">
	<p class="text-sm font-thin text-gray-medium">
		© All rights reserved. AngularVietnam
	</p>
	<p class="ml-1 mt-0 text-sm font-thin text-gray-medium lg:ml-0 lg:mt-2">
		Built with
		<a
			href="https://astro.build"
			rel="noreferrer"
			target="_blank"
			class="cursor-pointer text-primary hover:underline"
		>
			Astro
		</a>
	</p>
</div>
