---
import SocialIcon from "./SocialIcon.astro";

const socials = [
	{ id: "Github", link: "https://github.com/nartc" },
	{ id: "LinkedIn", link: "https://www.linkedin.com/in/chauntran/" },
	{ id: "Twitter", link: "https://twitter.com/Nartc1410" },
	{ id: "Facebook", link: "https://www.facebook.com/ctran2428" },
	{
		id: "Stackoverflow",
		link: "https://stackoverflow.com/users/8468804/chau-tran",
	},
	{ id: "Youtube", link: "https://youtube.com/c/ChauTran" },
] as const;
---

<div class="mb-4 grid w-full grid-cols-6 gap-2 lg:w-1/2 lg:grid-cols-3">
	{
		socials.map((social) => (
			<SocialIcon socialId={social.id} link={social.link} />
		))
	}
</div>
