---
import Avatar from "../components/Avatar.astro";
import Copyright from "../components/Copyright.astro";
import Info from "../components/Info.astro";
import Navigation from "../components/Navigation.astro";
import Socials from "../components/Socials.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
    title: string;
    isBlog?: boolean;
    frontmatter?: any;
}

const { title, isBlog = false } =
    Astro.props.frontmatter || (Astro.props as Props);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Personal blog by Chau Tran" />
        <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/prism/prism-coldark-cold.css" />
        <link rel="stylesheet" href="/prism/prism-coldark-dark.css" />
        <link rel="stylesheet" href="/prism/line-numbers.css" />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <div class="container mx-auto p-8 h-full">
            {
                isBlog ? (
                    <slot />
                ) : (
                    <div class="grid gap-x-4 grid-cols-1 lg:grid-cols-4">
                        <aside class="col-span-4 lg:col-span-1">
                            <div class="max-w-full lg:max-w-sm rounded overflow-hidden shadow-common p-4 relative">
                                <Avatar />
                                <Info />
                                <Navigation />
                                <Socials />
                                <Copyright />
                            </div>
                        </aside>
                        <main class="col-span-4 lg:col-span-3">
                            <div class="rounded overflow-hidden shadow-common p-4 lg:overflow-auto lg:max-h-228">
                                <slot />
                            </div>
                        </main>
                    </div>
                )
            }
        </div>
        <style>
            @media (prefers-color-scheme: light) {
                :root {
                    --primary: theme("colors.rose.600");
                    --secondary: theme("colors.sky.600");
                    --background-color: theme("colors.white");
                    --text-color: theme("colors.black");
                    --gray-light: theme("colors.neutral.500");
                    --gray-medium: theme("colors.neutral.600");
                    --gray-dark: theme("colors.neutral.700");
                    --code-background: theme("colors.gray.200");
                    --table-even-row: theme("colors.neutral.200");
                    --shadow: theme("boxShadow.lg");
                }
            }

            @media (prefers-color-scheme: dark) {
                :root {
                    --primary: theme("colors.sky.400");
                    --secondary: theme("colors.rose.400");
                    --background-color: theme("colors.neutral.900");
                    --text-color: theme("colors.white");
                    --gray-light: theme("colors.neutral.500");
                    --gray-medium: theme("colors.neutral.400");
                    --gray-dark: theme("colors.neutral.300");
                    --code-background: theme("colors.gray.800");
                    --table-even-row: theme("colors.neutral.700");
                    --shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
                        0 4px 6px -2px rgba(255, 255, 255, 0.05);
                }
            }

            body {
                background-color: var(--background-color);
                color: var(--text-color);
                transition:
                    color 200ms ease-in-out,
                    background-color 200ms ease-in-out,
                    border-color 200ms ease-in-out,
                    fill 200ms ease-in-out,
                    stroke 200ms ease-in-out;
            }

            :global(h1) {
                @apply text-5xl;
            }

            :global(h2) {
                @apply text-4xl;
            }

            :global(h3) {
                @apply text-3xl;
            }

            :global(h4) {
                @apply text-2xl;
            }

            :global(h5) {
                @apply text-xl;
            }

            :global(h6) {
                @apply text-lg;
            }

            :global(picture > img.avatar, img.avatar) {
                @apply object-cover object-center rounded-full w-full h-full visible;
            }

            @screen lg {
                body {
                    height: 100vh;
                }
            }
        </style>
    </body>
</html>
